.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
test/**
out/test/**
node_modules/**
.git/**
.gitignore
tsconfig.json
webpack.config.js
.eslintrc.json
.npmrc
.prettierrc
.editorconfig
.travis.yml
.gitlab-ci.yml
CHANGELOG.md
CONTRIBUTING.md
